Flask==2.3.3
Flask-Cors==4.0.0
Flask-SQLAlchemy>=3.1.1
websockets==11.0.3
requests==2.31.0
beautifulsoup4==4.12.2
chardet==5.2.0
importlib-metadata==6.8.0
Werkzeug==2.3.7
PyJWT==2.8.0
extract-msg>=0.41.0
mail-parser>=3.15.0
talon>=1.4.4; platform_system != "Windows" and python_version < "3.11"
eml-parser>=1.17.0
